/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --cover-image: url("../images/cover-image-dark.png");
  --page-background-color: #000028;
  --main-background-color: #000028;
  --text-color: #F1B2CE;
  --title-color: #DB00FF;
  --accent-color: #FF0070;
  --title-decor-color: #000028;
  --title-decor-background: #FF0070;
  --link-color: #F1B2CE;
  --link-shadow: #FF0070;
  --text-shadow: 4px 4px 0 #FF0070;
  --link-shadow-value: 2px 2px 0 #FF0070;
}

.theme-dark .header__rec {
  display: block;
}