/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

/* ТЁМНАЯ ТЕМА ПО УМОЛЧАНИЮ */
:root {
  --cover-image: url("../images/cover-image-dark.png");
  --page-background-color: #000028;
  --main-background-color: #000028;
  --text-color: #F1B2CE;
  --title-color: #DB00FF;
  --accent-color: #FF0070;
  --title-decor-color: #000028;
  --title-decor-background: #FF0070;
  --link-color: #F1B2CE;
  --link-shadow: #FF0070;
  --section-gap: 50px;
  --card-gap: 20px;
  --main-font: 'IBM Plex mono', monospace;
  --font-size-base: 18px;
  --font-size-title: 18px;
  --font-weight-base: 400;
  --font-weight-bold: 700;
  --text-shadow: 4px 4px 0 var(--accent-color);
  --link-shadow-value: 2px 2px 0 var(--accent-color);
}