/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  /* ОБЩИЕ ПЕРЕМЕННЫЕ */
  --section-gap: 50px;
  --card-gap: 20px;
  --main-font: 'IBM Plex mono', monospace;
  --font-size-base: 18px;
  --font-size-title: 18px;
  --font-weight-base: 400;
  --font-weight-bold: 700;

  /* ТЁМНАЯ ТЕМА по умолчанию */
  --cover-image: url("./images/cover-image-dark.png");
  --page-background-color: #000028;
  --main-background-color: #000028;
  --text-color: #F1B2CE;
  --title-color: #DB00FF;
  --accent-color: #FF0070;
  --title-decor-color: #000028;
  --title-decor-background: #FF0070;
  --link-color: #F1B2CE;
  --link-shadow: #FF0070;
  --text-shadow: 4px 4px 0 #FF0070;
  --link-shadow-value: 2px 2px 0 #FF0070;
}

/* АВТО-РЕЖИМ: СВЕТЛАЯ ТЕМА */
@media (prefers-color-scheme: light) {
  :root {
    --cover-image: url("./images/cover-image-light.png");
    --page-background-color: #FFF1F7;
    --main-background-color: #FFF1F7;
    --text-color: #353430;
    --title-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --title-decor-color: #353430;
    --title-decor-background: #FF8DCB;
    --link-color: #353430;
    --link-shadow: #FF8DCB;
    --text-shadow: 4px 4px 0 #FF8DCB;
    --link-shadow-value: 2px 2px 0 #FF8DCB;
  }
}